body{
    margin: 0px;
    
}
section{
    height:100vh;
    width: 100%;
    background-image: url(18493522_6011696.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll;
    background-size: cover;
    
    
}



header{
    height: 130px;
    width: 100%;
    padding-bottom: 0px;
    font-family: Allerta Stencil , sans-serif;
    
}

.logo img{
    height:75px;
    width: 200px;
    
}
.logo{
    border:none;
    margin-left: 0px;
}



ul{
    list-style-type: none;
    display: flex;
}

ul li{
    margin:20px;
    font-size: 17px;
    border:2px solid black;
    padding:5px;
    border-radius: 20px;
}


ul li:hover{
    border:3px double black;
    padding:5px;
    border-radius: 20px;
}

a{
    text-decoration: none;
    color:black
}


.main{
    display: flex;
    justify-content: space-between;
    margin:50px;
    height: 450px;

}

.main img{
    width: 450px;
    height: 500px;
    border:8px double black;
    border-radius: 90px;
}
.main .abcd{
    text-align: left;
    font-size: 25px;
    position: relative;
    top:140px;
    height: 250px;
    margin-left: 50px;
    margin-right: 20px;
    width: 1500px;

}


.abcd h3{
    margin:0px;
    padding: 0px;
    font-size: 35px;
}
.abcd h1{
    margin:0px;
    padding: 0px;
    font-size: 70px;
    font-family: Arizonia, sans-serif;
}
.abcd p{
    margin:0px;
    padding: 0px;
    margin:0px
}




footer {

    background-image: url(ff.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll;
    background-size: cover;


    display: flex;
    flex-direction: column;
    align-items: center;
    height:215px;
    

}



.lmn i{
    font-size: 25px; 

}
.lmn{
    display: flex;
    justify-content: space-around;
    width: 400px;
    padding-top: 20px;
    align-items: center;
    flex-wrap: wrap;


}

.foot .about{
    display: flex;
    justify-content: space-around;
    width: 400px;
    font-size: 20px;
    padding-top: 40px;

}


.foot .bottom{
    display: flex; 
    justify-content: center;
    text-align: center;
    position: relative;
    top:80px;
}

.about div:hover{
    text-decoration: underline;

}

.lmn i:hover{
    border:2px solid black;
    align-items: center;
    border-radius: 5px;
    padding:2px
}

.header{
    display: flex;
    justify-content: space-between;
}


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: "Poppins", sans-serif;
    --color1: #000000 ;
    --color2: #ffffff ;
}
.nav-bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    position: relative;
}
.menu {
    display: flex;

}
.menu li {padding: 5px;}


.menu li a {
    display: inline-block;
    text-decoration: none;
    color: var(--color1);
    text-align: center;
    transition: 0.15s ease-in-out;
    position: relative;
    text-transform: uppercase;
}
.menu li a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    background-color: var(--color1);
    transition: 0.15s ease-in-out;
}
.open-menu , .close-menu {
    position: absolute;
    color: var(--color1);
    cursor: pointer;
    font-size: 1.5rem;
    display: none;
}
.open-menu {
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}
.close-menu {
    top: 20px;
    right: 20px;
}
#check {display: none;}
@media(max-width: 610px){
    .menu {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 80%;
        height: 100vh;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 100;
        transition: all 0.4s ease-in-out;
    }
    .menu li {margin-top: 40px;}
    .menu li a {padding: 10px;}
    .open-menu , .close-menu {display: block;}
    #check:checked ~ .menu {right: 0;}
}
    
@media all and (max-width: 1382px) {
        .container .sm{
            display: none;
        }
    
}

@media all and (max-width: 1258px) {
    .menu {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 80%;
        height: 100vh;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 100;
        background-color: var(--color2);
        transition: all 0.2s ease-in-out;
        }

        .menu li {margin-top: 40px;}
        .menu li a {padding: 10px;}
        .open-menu , .close-menu {display: block;}
        #check:checked ~ .menu {right: 0;}

        

}




  
  /* Extra Small Devices (Phones, 600px and down) */
  @media (max-width: 1150px) {
    
    .main .abcd{
        text-align: left;
        font-size: 25px;
        position: relative;
        top:140px;
        height: 300px;
        margin-left: 50px;
        margin-right: 20px;
        width: 1500px;
        overflow: auto;
        padding-left:10px ;
    }
    .abcd h3{
        margin:0px;
        font-size: 25px;
    }
    .abcd h1{
        margin:0px;
        font-size: 50px;
        font-family: Arizonia, sans-serif;
    }
    .abcd p{
        margin:0px;
    }
}

@media (max-width: 880px) 
 {
    .main{
        align-items: center;

    }
    .main img{
        width: 300px;
        height: 350px;
        border:8px double black;
        border-radius: 90px;
    }

    .main .abcd{
        position: relative;
        top: 0px;
    }
    

 }

 @media (max-width: 730px) 
 {
    .main{
        align-items: center;
        flex-direction: column;
        height: 540px;

    }
    .main img{
        width: 300px;
        height: 350px;
        border:8px double black;
        border-radius: 90px;
    }

    .main .abcd{
        margin-top: 10px;
        
        width: 100%;
        
        margin-left: 50px;
        margin-right: 20px;
        height: 300px;
        margin-bottom: 0px;
    }
    

 }

 @media (max-width: 488px) 
 {
    .main{
        margin-left: 10px;
        margin-right: 20px;
        align-items: center;
        flex-direction: column;
        height: 540px;
        

    }
    .main img{
        width: 225px;
        height: 275px;
        border:8px double black;
        border-radius: 50px;
    }

    .main .abcd{
        margin-top: 10px;
        
        width: 100%;
        
        
        height: 2750px;
        margin-bottom: 0px;
    }
    .main h1{
        font-size:40px;
    }
    .main p{
        font-size: 18px;

    }
    

 }


 @media (max-width: 400px) 
 {
    .foot{
        margin-left: 20px;
        margin-right: 20px;

    }

    .lmn{
        display: flex;
        justify-content: space-around;
        width: 300px;
        padding-top: 20px;
        align-items: center;
        flex-wrap: wrap;

    
    
    }
    .lmn i{
        margin-left: 2px;
        margin-right: 2px;
    }
    
    .foot .about{
        display: flex;
        justify-content: space-around;
        width: 300px;
        font-size: 20px;
        padding-top: 40px;
    
    }
    .about div{
        margin-left: 2px;
        margin-right: 2px;
    }
    
    
    .foot .bottom{
        display: flex; 
        justify-content: center;
        text-align: center;
        position: relative;
        top:80px;
    }
    

 }

 @media (max-width: 320px) 
 {

    .main .abcd{
        margin-top: 10px;
        
        width: 100%;
        
        margin-left: 0px;
        margin-right: 0px;
        height: 300px;
        margin-bottom: 0px;
    }
 }


 

  


  
 